/* The React link tag */
.user-list-item a {
  display: flex;
  margin-bottom: 24px;
  text-decoration: none;
}

.user-list-item .fullname-wrapper {
  display: flex;
  align-items: center;
}

.user-list-item .profile-image-wrapper {
  margin-right: 20px;
}

.user-list-item .profile-image {
  height: 80px;
}
