.carousel-item {
  width: 300px;
  margin-right: 20px;
}

.carousel-item .stats {
  opacity: 0;
  transition: opacity 1000ms;
}

.carousel-item.active .permanent-content {
  /* border: 6px solid green; */
  transform: scale(1.1) 300;
}



.carousel-item.active .stats {
  opacity: 100;
}

.carousel-item img {
  display: block;
  height: 300px;
  border-radius: 10px !important;
}

.carousel-item .name {
  text-align: center;
  font-size: 24px;
}

.carousel-item .stats {
  padding: 10px;
}
